/* Bulma CSS, FontAwesome */
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css";

::-webkit-scrollbar {
  display: none;
}

body {
  padding: 2em;
}

.subtitle {
  padding: 0 4px 1em 0;
  margin: 0;
}

/* p {
  font-weight: 400;
} */

.cred {
  max-width: 14.5em;
}

.flex-container {
  display: flex;
  gap: 1em;
}

#output-container {
  position: relative;
}

#copy {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 1;
}


.credit {
  font-size: .8em;
  font-weight: 500;
  text-align: end;
  padding: 1em 0;
}